.side_menu_section {
    height: 780px;
    background-color: transparent;
}

.inner_section {

    position: relative;
    top: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 40px 0px 0px 0px;
    box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);
    -moz-box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);
    height: 700px;
    background: rgb(255, 255, 255);
}

.rounded_box {
    width: 95px;
    height: 22px;
    background: #EFFBFF;
    border-radius: 20px;
    margin: 15px 10px;
}

.rounded_box .smallText {
    font-size: 10px !important;
    position: relative;
    top: -3px;
    left: 10px;

}

.top {
    display: flex;
    justify-content: end;
}

.sideBarMenu {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: var(--Montserrat-Regular);
    font-size: 18px;
    padding: 10px 0px;
    color: #ffffff !important;
}

/* overflow scroll  */

.sideBarMenu::-webkit-scrollbar {
    width: 0px !important;
    height: 20px !important;
}

.sideBarMenu::-webkit-scrollbar-track {
    background: #ffffff !important;
    border-radius: 50px !important;
}

.sideBarMenu::-webkit-scrollbar-thumb {
    background-color: #ffff;
    border-radius: 50px !important;
    height: 10px !important;
    width: 200px !important;
    border: 1px solid #ffffff;
}

/* overflow scroll  */

.sideBarMenu .label {
    color: var(--color-dark);
    font-size: 16px;
    font-family: var(--Montserrat-Bold);
}

.sideBarMenu .desc {
    color: var(--color-dark);
    padding: 5px 0px 20px 0px;
    font-size: 12px;
    position: relative;
    left: 40px;
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    width: 222px;
}

.active .desc {
    color: white !important;
}

#LinkBar {
    width: 100%;
    border-radius: 5px;
    color: #19244B;
    padding: 6px;
    font-family: var(--Montserrat-Regular);
    font-size: 13px;
    margin: 5px;

}

.mini_box {
    position: relative;
    left: 12px;
}

.menuIcon {
    font-family: var(--Montserrat-Bold);
    font-size: 18px;
    margin-right: 16px;
    color: var(--color-dark);
}



.active {
    width: 100%;
    padding: 0;
    font-family: var(--Montserrat-Regular);
    font-size: 18px;
    background-color: var(--color-light);
    color: #ffffff !important;
}

.active .sidemenu .label {
    color: var(--color-dark);
    font-size: 18px;
    color: #ffffff;
}

.active .menuIcon {
    font-family: var(--Montserrat-Regular);
    font-size: 16px;
    margin-right: 16px;
    color: #ffff;
}



.box {
    background: #EEFBFF;
    border-radius: 20px;
    font-size: 12px;
    width: 60px;
    /* padding: 13px 0px; */
    padding: 3px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 8px;
    color: var(--color-dark);
    font-family: var(--Montserrat-Bold);
}

.sidemenu {
    padding: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
}

/* drop down */
.dropDown {
    overflow-y: scroll;
    height: 100px;
    overflow-x: hidden  ;
}

/* overflow scroll  */

.dropDown::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.dropDown::-webkit-scrollbar-track {
    background: #ffffff !important;
    border-radius: 50px !important;
}

.dropDown::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-radius: 50px !important;
    height: 10px !important;
    width: 200px !important;
    border: 1px solid #ffffff;
}

/* overflow scroll  */
.list {
    padding: 10px 0px;
    position: relative;
    left: 20px;
}


.list span {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
    text-decoration: none;
    color: white;
    font-family: var(--Montserrat-Medium);
    font-size: 10px;
    background-color: var(--color-light);
}

.list span:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s ease-in;
    text-decoration: none;
    color: var(--color-dark);
    background-color: white
}

/* overflow scroll  */

/* drop down */

/* profile card*/

.card_profile {
    border: 4px solid #ddd;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
    margin-top: 65px;
    height: 158px;
    background-color: var(--color-light);
}

.card_img {
    width: 120px;
    height: 90px;
    overflow: hidden;
    border-radius: 100%;
    margin: -50px 0px;
    position: relative;
    top: 0px;
    left: 72px;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding-bottom: 20px;
}

.card_info h2 {
    font-size: 13px;
    color: white;
    text-align: center;
    font-family: var(--Montserrat-Bold);
    margin-top: 30px;
}

.card_info p {
    font-size: 10px;
    color: white;
    text-align: center;
    font-family: var(--Montserrat-Regular);
    margin: 0;
}

.card_etc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_etc span {
    font-family: var(--Montserrat-Regular);
    width: 158px;
    height: 30px;
    background-color: #459E97;
    border: none;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bottom_text {
    margin: 10px auto !important;
    text-align: center;

}

.bottom_text span {
    font-family: var(--Montserrat-Regular);
    font-size: 10px;
    color: lightgray;

}