.gradient-radial-background {
    background: var(--color-dark);
    background: linear-gradient(90deg, var(--color-dark) 0%, var(--color-light) 50%, var(--color-dark) 100%);
    height: 100px;
    width: 100%;
}


.website_name {
    font-family: var(--Montserrat-Regular);
    color: white !important;
    text-decoration: none;

}

a {
    text-decoration: none;
}