.right_section {
    border-radius: 20px;
    margin: 40px 0px 0px 0px;
    box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);
    -moz-box-shadow: -6px 0px 47px -29px rgba(0, 0, 0, 1);

}

.top_secion {
    height: 170px;
    background: var(--color-dark);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content_section {
    height: 400px;
    overflow-y: scroll;
    padding: 0px 40px 80px 40px;
    margin: 40px 0px;
}

.content_section::-webkit-scrollbar {
    width: 8px !important;
    height: 20px !important;
}

.content_section::-webkit-scrollbar-track {
    background: #fcfcfc !important;
    border-radius: 50px !important;
}

.content_section::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-radius: 50px !important;
    height: 10px !important;
    width: 200px !important;
    border: 1px solid #D1D1D1;
}

.rounded_circl {
    width: 70px;
    height: 35px;
    top: 356px;
    left: 480px;
    gap: -7px;
    opacity: 0px;
    background-color: var(--color-dark);
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 0px 10px 0px 0px;
}
.dotsClass{
    color: #459E97;

}

.cookie_icon {
    width: 165px;
    height: 35px;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 0px 10px 0px 0px;
}

.main_dec {
    font-family: var(--Avenir-Black);
    font-size: 16px;
    color: var(--text-color);
}

.description {
    font-family: var(--Avenir-Roman);
    font-size: 16px;
    color: var(--text-color);
}

.inputField {
    width: 100%;
    height: 42px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 10px;
    border: 2px solid gray;
}

.brand_name {
    font-family: var(--Montserrat-Regular);
    font-size: 14px;
    color: lightgray;
}