.GeneralButton>button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    color: white;
    width: 155px;
    height: 42px;
    padding: 0px 5px;
    border-radius: 10px;
    border: none;
    font-family: var(--Montserrat-Regular);
    font-size: 12px;
    transform: translateY(0rem);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.GeneralButton>button>.icon {
    padding: 10px;
}

.GeneralButton>button>img {
    padding: 10px;
}

.GeneralButton .button {
    display: flex !important;
    align-items: center;
    padding: 10px !important;
}