@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --color-light: #41908f;
  --color-dark: #024154;
  --color-border: #055972;
  --text-color:#024154;
  --Montserrat-Regular: Montserrat-Regular;
  --Montserrat-Medium: Montserrat-Medium;
  --Montserrat-Bold: Montserrat-Bold;
  --Avenir-Roman:Avenir-Roman;
  --Avenir-Black:Avenir-Black;
  --Avenir-Book:Avenir-Book;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Avenir-Black;
  src: url("/assets/fonts/Avenir/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: Avenir-Book;
  src: url("/assets/fonts/Avenir/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: Avenir-Roman;
  src: url("/assets/fonts/Avenir/AvenirLTStd-Roman.otf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
