.expense_card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .ant-card-body{
    padding: 5px !important;
  }
  .price {
    font-size: 13px;
    margin: 0px;
    font-family: var(--Montserrat-Bold);
  }
  
  .exp {
    font-size: 12px;
    margin:0px;
    font-family: var(--Montserrat-Regular);

    
  }
  
  .day {
    font-size: 10px;
    margin-top: 5px;
    color: #4079ED;
    font-family: var(--Montserrat-Regular);

  }
  